body {
    margin: 0;
    position: absolute;
}

/*reset de la feuille de style du navigateur

source :
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


section,
header,
nav,
a,
.bgConsulting,
form,
label,
button,
.whatWeDo>div,
.financialPlanning {
    display: flex;
}



section,
form,
label,
.bgConsulting,
.whatWeDo>div {
    flex-direction: column;
}


nav,
header,
a,
.bgConsulting,
.whatWeDo>div {
    align-items: center;
}

a, input[type="radio"]+label, button, header>img, aside>img,.V{
    cursor:pointer;
}

.ourService h2,
p {
    color: grey;
}

form>h1::after,.ourService::after,input[type="radio"]:checked+label::after{
    border-bottom: 1px solid rgb(14, 70, 255);
}


header, button, .bgConsulting, .financialPlanning img, .quote, .tabs nav, .freeConsulting{
    width: 100%;
}


header {
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    background-color: white;
    height: 30px;
}

header>img {
    height: 20px;
}

nav {
    justify-content: center;
}

nav>a {
    padding: 2px;
}

a>img {
    filter: invert();
    padding: 2px;
}

.freeConsulting {
    margin-top: 60px;
    background: url("ressources/freeConsulting.png");
    background-size: cover;
    background-position: center;

}

.bgConsulting {
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(14, 70, 255, 1), rgba(14, 70, 255, 0.685), rgba(14, 70, 255, 0.616), rgba(14, 70, 255, 0.589));
}


form {
    padding: 15px 40px;
    margin: 5% 25% 5% 0;
    justify-content: center;
    border-radius: 5%;
    background-color: white;
}



form>h1::after {
    display: block;
    content: "";
    left: 0;
    padding-bottom: 10px;
    width: 28%;
}


input[type="text"],button{
    border:none;
    padding: 10px 0;
}

input[type="text"] {
    margin: 10px 0 10px 0;
    background-color: rgb(238, 238, 238);
}

button {
    color: white;
    background-color: rgb(14, 70, 255);
    border-radius: 4px;
    font-weight: 800;
    font-size: 0.6rem;
    justify-content: center;
}

.V {
    height: 5px;
}

.bgConsulting .V{
    height: 15px;
    margin-bottom:20px;
}

aside {
    border-left: 1px solid grey;
}

aside>img {
    height: 10px;
}

.ourService {
    margin-top: 50px;
}


.ourService::after {
    content: "";
    width: 7%;
}

.ourService h2 {
    font-size: 0.7rem;
    font-weight: 200;
}

.whatWeDo {
    margin: 0 10%;
}

.financialPlanning {
    justify-content: space-between;
}



.financialPlanning>* {
    width: 50%;
    padding: 20px 0;
}

.planningText {
    margin-left: 20px;
}

.financialPlanning img {
    border-radius: 3%;
    margin-right: 20px;
}

p {
    font-weight: 100;
}

.quote {
    padding: 10px 50px; 
}

.tabs nav {
    padding-top: 35px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(165, 165, 165);
    justify-content: space-around;
}

.tabs nav label {
    align-items: center;
    width: auto;
}
.tabs nav  {
    justify-content: space-evenly;
}



input[type="radio"]{
    opacity: 0;
}

input[type="radio"]:checked+label{
    color:rgb(14, 70, 255);
}

input[type="radio"]:checked+label::after{
    content: "";
    height: 0px;
    position: relative;
    top: 1px;
    width: 100%;
}



label{
    font-size: 1rem;
}

h1{
    font-weight: 900;
    padding: 15px 0 25px 0;
}


/*ajustements pour les écrans les moins larges*/
@media all  and (max-width : 767px) {
    label {
        font-size: 0.8rem;
    }

    input[type="radio"]{
    }

 

}
